/* HTML: <div class="loader"></div> */
.button-loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.button-loader:before {
  content:"..."
}
@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}